<nav class="navbar">
    <h1>Homeoffice-Stempeluhr</h1>
  </nav>
  
  <div class="dashboard-card">
    <div class="buttons-container">
      <button
        class="btn-checkin"
        (click)="checkIn()"
        [style.backgroundColor]="activeButton === 'checkin' ? '#4caf50' : null"
      >
        Einstempeln
      </button>
  
      <div class="divider"></div>
  
      <button
        class="btn-checkout"
        (click)="checkOut()"
        [style.backgroundColor]="activeButton === 'checkout' ? '#f44336' : null"
      >
        Ausstempeln
      </button>
    </div>
  
    <div class="overview-button">
      <button class="btn-overview" (click)="toggleOverview()">Übersicht</button>
    </div>
  </div>
  
  <!-- Übersicht Card -->
  <div class="overview-card" *ngIf="showOverview">
    <button class="btn-close" (click)="toggleOverview()">Schließen ✖️</button>
  
    <div class="times-list">
      <h3>Stempelzeiten</h3>
      <ul>
        <li *ngFor="let time of timesForDate">{{ time }}</li>
      </ul>
    </div>
  </div>
  